<div class="font-sans">
  <div class="relative min-h-screen flex flex-col sm:justify-center items-center">
    <div class="relative sm:max-w-sm w-full">
      <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
      <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
      <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
        <label class="block text-xl mt-3 text-gray-700 text-center font-semibold">
          SimpleQuizApp
        </label>
        <form class="mt-10" [formGroup]="form" (submit)="enterQuiz()">
          <div>
            <input type="text"
                   formControlName="name"
                   placeholder="Enter your name"
                   class="mt-1 text-center block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">
          </div>
          <div class="flex mt-7 items-center text-center">
            <hr class="border-gray-300 border-1 w-full rounded-md">
            <label class="block font-medium text-sm text-gray-600 w-full">
              Select Quizz
            </label>
            <hr class="border-gray-300 border-1 w-full rounded-md">
          </div>
          <div *ngFor="let quiz of availableQuizzes">
            <label class="rounded-t relative -mb-px block p-4 cursor-pointer">
              <input
                type="radio"
                class="accent-pink-500"
                name="selectedQuiz"
                formControlName="selectedQuiz"
                [value]="quiz"> {{quiz.name}}
            </label>
          </div>
          <div class="mt-7">
            <button class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
              Let's go!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
